* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.6rem;
  background-color: #121214;
  color: #fff;
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1rem 1.5rem;
}

.header {
  height: 7.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  -moz-column-gap: 2.3rem;
       column-gap: 2.3rem;
}
.header__buttons {
  display: flex;
  align-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.header__buttons--login {
  color: #a6a8ad;
  background-color: transparent;
}
.header__buttons--signup {
  background-color: #fff;
  color: #121214;
  padding: 0.8rem 2.1rem;
  border-radius: 3.2rem;
}

.nav {
  display: flex;
  align-items: center;
  -moz-column-gap: 2.9rem;
       column-gap: 2.9rem;
}
.nav__items {
  display: flex;
  align-items: center;
  list-style: none;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.nav__link {
  color: #a6a8ad;
}
.nav__link:hover {
  color: white;
}
.nav__logo {
  width: 9.7rem;
  height: 3rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.nav__burger {
  display: none;
  cursor: pointer;
}
.nav__burger span {
  display: inline-block;
  width: 3rem;
  height: 0.3rem;
  background-color: #fff;
}

.sounds {
  position: relative;
  background-color: #0033ff;
  padding: 1.1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
.sounds__link::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sounds__link:hover {
  text-decoration: underline;
}

.producer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5.4rem;
  align-items: flex-start;
  max-width: 120rem;
  background-image: url("../img/IMAGE.png");
  margin: 0 auto;
  min-height: 74.4rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.producer__title {
  max-width: 41.6rem;
  font-weight: 400;
  font-size: clamp(3rem, 0.5625rem + 5.25vw, 7.2rem);
  margin-bottom: 2rem;
}
.producer__descr {
  font-size: 2rem;
  line-height: 2.4rem;
  max-width: 41.2rem;
  margin-bottom: 4.4rem;
}
.producer__link {
  padding: 1.6rem 3.2rem;
  background-color: #0033ff;
  border-radius: 0.8rem;
  max-width: 12.5rem;
}

.catalog {
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 10rem;
       column-gap: 10rem;
}
.catalog__text {
  display: inline-block;
  color: #a6a8ad;
  font-size: 1.2rep;
  margin-bottom: 1.5rem;
}
.catalog__title {
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 3.6rem;
  margin-bottom: 1.2rem;
}
.catalog__descr {
  max-width: 38rem;
  margin-bottom: 1.8rem;
  line-height: 2.4rem;
}
.catalog__link {
  padding: 0.8rem 2rem;
  background-color: #0033ff;
  border-radius: 0.8rem;
}
.catalog__image {
  max-width: 58rem;
}
.catalog__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.catalog__img {
  margin-bottom: 5rem;
}
.catalog__align {
  text-align: right;
}

.always {
  padding: 10rem 0rem;
}
.always__title {
  font-weight: 400;
  font-size: 2.8rem;
  margin-bottom: 2.4rem;
  margin-left: 4rem;
}
.always__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(36.1rem, min-content));
  grid-gap: 1rem;
  justify-content: center;
}
.always__card {
  padding: 3.2rem;
  background-color: #f8f8f8;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  align-items: center;
}
.always__image {
  width: 22.3rem;
  height: 22.3rem;
}
.always__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.always__descr {
  font-size: 2rem;
  line-height: 2.5rem;
  color: #000;
  margin-bottom: 1.6rem;
}
.always__title--h4 {
  color: #767676;
  font-size: 1.4rem;
  font-weight: 400;
  align-self: flex-start;
}

.today {
  height: 72.8rem;
  background-image: url("../img/today-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5.7rem;
}
.today__title {
  font-size: 5rem;
  font-weight: 400;
}
.today__link {
  padding: 0.8rem 2rem;
  background-color: #0033ff;
  border-radius: 0.8rem;
}

.footer {
  padding: 5rem 0;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 3rem;
  flex-wrap: wrap;
  margin-bottom: 8rem;
}
.footer__block--link {
  display: flex;
  flex-direction: column;
  row-gap: 1.1rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.footer__link {
  color: #a6a8ad;
}
.footer__link_1 {
  font-size: 2rem;
  line-height: 2.4rem;
  color: white;
}
.footer__link--bt {
  margin-bottom: 2.4rem;
}
.footer__nav--links {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  flex-wrap: wrap;
}
.footer__link--about {
  font-size: 1.2rem;
  color: #a6a8ad;
}

@media (width < 1132px) {
  .always__title {
    text-align: center;
  }
}
@media (width < 686px) {
  .header {
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2rem;
    height: auto;
  }
  .sounds {
    padding: 1rem;
  }
  .sounds__content {
    display: none;
  }
  .producer {
    padding: 1.5rem;
    min-height: 40rem;
  }
  .producer__title {
    width: 100%;
  }
  .producer__descr {
    font-size: 1.5rem;
  }
}
@media (width < 617px) {
  .nav__items {
    display: none;
  }
  .nav__burger {
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;
  }
  .always__cards {
    grid-template-columns: repeat(auto-fit, minmax(36.1rem, max-content));
  }
  .today {
    height: 40.5rem;
  }
  .today__title {
    font-size: 4rem;
  }
}/*# sourceMappingURL=style.css.map */